@import "compass/reset";
@import "compass/css3";

.slider {
    -webkit-appearance: none;
    // background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
    background: #ddd;
    height: 2em;
    margin: 2em;
    
    &::-webkit-slider-thumb {
        -webkit-appearance:none;
        background: red;
        height: 4em;
        width: 1em;
    }
}