/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 39, ../sass/lib/_type.scss */
body {
  color: #cccccc;
  font-family: "DIN Next W01 Regular";
  font-size: 10pt;
  text-rendering: optimizeLegibility;
}

/* line 52, ../sass/lib/_type.scss */
abbr {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
}

/* line 7, ../sass/_main.scss */
body {
  background: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 3.125%;
}

/* line 15, ../sass/_main.scss */
input {
  border-radius: 0;
  position: relative;
  z-index: 100;
  -webkit-appearance: none;
}
/* line 21, ../sass/_main.scss */
input[type=button], input[type=submit] {
  background: none;
  cursor: pointer;
  padding: 0.5em;
  border: 1pt solid #cccccc;
  color: #cccccc;
  font-family: "DIN Next W01 Light";
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -0.5em;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
}
/* line 87, ../sass/lib/_mixins.scss */
input[type=button]:active, input[type=button].touch, input[type=submit]:active, input[type=submit].touch {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
/* line 23, ../sass/lib/_mixins.scss */
input[type=button]:hover, input[type=button]:active, input[type=submit]:hover, input[type=submit]:active {
  background: white;
  border-color: transparent;
  color: #333;
  box-shadow: 0 0 0.75em 0.125em rgba(255, 255, 255, 0.75);
}
/* line 25, ../sass/_main.scss */
input.text {
  outline: 0;
  background: none;
  color: #cccccc;
  border: none;
  border-bottom: #cccccc 1pt solid;
  font-size: 1em;
  font-style: italic;
  font-family: "DIN Next W01 Regular";
  position: relative;
  left: -.5em;
  text-indent: .4em;
}
/* line 39, ../sass/_main.scss */
input.text:focus, input.text:hover, input.text:active {
  border-color: white;
  color: white;
}
/* line 44, ../sass/_main.scss */
input.text:focus {
  text-shadow: 0 0 0.5em white;
}

/* line 51, ../sass/_main.scss */
header section#add-device {
  display: none;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
}
/* line 59, ../sass/_main.scss */
header section#add-device.open {
  display: block;
}

/* line 1, ../sass/_header.scss */
body > header {
  position: relative;
  z-index: 300;
}
/* line 5, ../sass/_header.scss */
body > header h1 {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 2em;
  font-family: "DIN Next W01 Bold";
  display: none;
  margin-bottom: 2rem;
}
/* line 14, ../sass/_header.scss */
body > header section.menu input {
  margin-left: 1em;
}
/* line 17, ../sass/_header.scss */
body > header section.menu input:nth-of-type(1) {
  margin-left: .5em;
}
/* line 22, ../sass/_header.scss */
body > header section.menu .picker {
  background-image: url("../images/menu-icon.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
  opacity: .75;
  padding-left: .5em;
}
/* line 87, ../sass/lib/_mixins.scss */
body > header section.menu .picker:active, body > header section.menu .picker.touch {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
/* line 61, ../sass/lib/_mixins.scss */
body > header section.menu .picker:hover, body > header section.menu .picker:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 28, ../sass/_header.scss */
body > header section.menu .audio-toggle {
  background-image: url("../images/audio-off.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
  opacity: .75;
  float: right;
}
/* line 87, ../sass/lib/_mixins.scss */
body > header section.menu .audio-toggle:active, body > header section.menu .audio-toggle.touch {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
/* line 61, ../sass/lib/_mixins.scss */
body > header section.menu .audio-toggle:hover, body > header section.menu .audio-toggle:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 33, ../sass/_header.scss */
body > header section.menu .audio-toggle.on {
  background-image: url("../images/audio-on.png") !important;
}
/* line 39, ../sass/_header.scss */
body > header section#settings {
  display: none;
}
/* line 42, ../sass/_header.scss */
body > header section#settings.open {
  display: block;
}
/* line 47, ../sass/_header.scss */
body > header #username {
  line-height: 1.5em;
  position: relative;
  top: -1em;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  font-family: "DIN Next W01 Medium";
}

/* line 56, ../sass/_header.scss */
section.picker {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  overflow: scroll;
  left: 0;
  padding: 3.125%;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  top: -2.5%;
  padding-top: 8em;
  z-index: 200;
  -webkit-transition-property: top, opacity, background, visibility;
  -moz-transition-property: top, opacity, background, visibility;
  -o-transition-property: top, opacity, background, visibility;
  transition-property: top, opacity, background, visibility;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 75, ../sass/_header.scss */
section.picker.open {
  visibility: visible;
  top: 0;
  opacity: 1;
}
/* line 82, ../sass/_header.scss */
section.picker .set {
  padding-left: 3.125%;
  display: inline-block;
  vertical-align: top;
}
/* line 106, ../sass/_header.scss */
section.picker .set:nth-child(1) {
  padding-left: 0;
}
/* line 110, ../sass/_header.scss */
section.picker .set h1 {
  font-size: 2em;
}
/* line 114, ../sass/_header.scss */
section.picker .set > h1 {
  margin-bottom: 0.75em;
  font-family: "DIN Next W01 Medium";
}
/* line 121, ../sass/_header.scss */
section.picker .set ul.tracks li.track {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5em;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  padding-left: .5em;
  margin-left: -.5em;
  border-left: 1px solid #cccccc;
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
}
/* line 87, ../sass/lib/_mixins.scss */
section.picker .set ul.tracks li.track:active, section.picker .set ul.tracks li.track.touch {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
/* line 42, ../sass/lib/_mixins.scss */
section.picker .set ul.tracks li.track:hover, section.picker .set ul.tracks li.track:active {
  border-left: 1px solid white;
  color: white;
  border-color: white;
  text-shadow: 0 0 0.5em white;
}
/* line 127, ../sass/_header.scss */
section.picker .set ul.tracks li.track h1 {
  font-size: 2em;
  font-family: "DIN Next W01 Light";
  margin-top: .25em;
}
/* line 133, ../sass/_header.scss */
section.picker .set ul.tracks li.track author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  font-family: "DIN Next W01 Medium";
}

/* line 1, ../sass/_guest.scss */
body.guest {
  font-size: 1.5em;
  margin-top: 25%;
}
@media screen and (min-width: 60em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 2em;
  }
}
@media screen and (max-width: 48em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 2em;
    margin-left: 6.25%;
  }
}
@media screen and (max-width: 32em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 24em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 1em;
  }
}
@media screen and (min-width: 48em) {
  /* line 22, ../sass/_guest.scss */
  body.guest > header {
    float: left;
    text-align: right;
    width: 43.75%;
  }
}
/* line 29, ../sass/_guest.scss */
body.guest > header h1 {
  display: block;
}
/* line 34, ../sass/_guest.scss */
body.guest #controls, body.guest .menu, body.guest .tracks {
  display: none;
}
/* line 38, ../sass/_guest.scss */
body.guest form {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 48em) {
  /* line 38, ../sass/_guest.scss */
  body.guest form {
    float: right;
    width: 43.75%;
    right: 9.375%;
  }
}
/* line 48, ../sass/_guest.scss */
body.guest form fieldset {
  margin-bottom: 4em;
}
/* line 51, ../sass/_guest.scss */
body.guest form fieldset input {
  display: block;
  margin-bottom: 1em;
}
/* line 56, ../sass/_guest.scss */
body.guest form fieldset aside {
  margin-bottom: 2em;
  font-size: .75rem;
  line-height: 1rem;
  font-style: italic;
  font-family: "DIN Next W01 Light";
}
@media screen and (min-width: 48em) {
  /* line 56, ../sass/_guest.scss */
  body.guest form fieldset aside {
    width: 87.5%;
    position: absolute;
    right: 109.375%;
    text-align: right;
  }
}

@-webkit-keyframes play-spin {
  /* line 2, ../sass/_turntable.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_turntable.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 39, ../sass/_turntable.scss */
.turntable {
  height: 24em;
  width: 24em;
  border-radius: 20em;
  position: relative;
  left: 50%;
  margin-left: -12em;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-transition: box-shadow 0.5s 0s;
  -webkit-transition-delay: ease-in;
  -moz-transition: box-shadow 0.5s 0s ease-in;
  -o-transition: box-shadow 0.5s 0s ease-in;
  transition: box-shadow 0.5s 0s ease-in;
}
/* line 52, ../sass/_turntable.scss */
.turntable img.art {
  height: 75%;
  width: 75%;
  border-radius: 100em;
  border: #cccccc solid 1px;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
}
/* line 62, ../sass/_turntable.scss */
.turntable .scrubber {
  background: black;
  height: 100%;
  width: 100%;
  border-radius: 100em;
  border: #cccccc solid 1px;
  position: absolute;
}
/* line 70, ../sass/_turntable.scss */
.turntable .scrubber .semi {
  position: absolute;
  border-radius: 100em 0 0 100em;
  height: 100%;
  width: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 78, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator {
  background: white;
}
/* line 81, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator#indicator1 {
  -webkit-transition: all 10s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: all 10s 0s linear;
  -o-transition: all 10s 0s linear;
  transition: all 10s 0s linear;
}
/* line 85, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator#indicator2 {
  -webkit-transition: all 20s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: all 20s 0s linear;
  -o-transition: all 20s 0s linear;
  transition: all 20s 0s linear;
}
/* line 90, ../sass/_turntable.scss */
.turntable .scrubber .semi.mask {
  background: black;
  -webkit-transition: visibility 10s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: visibility 10s 0s linear;
  -o-transition: visibility 10s 0s linear;
  transition: visibility 10s 0s linear;
  visibility: visible;
}
/* line 102, ../sass/_turntable.scss */
.turntable.playing img.art {
  -webkit-animation: play-spin 4s infinite linear;
}
/* line 109, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 114, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator2 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 120, ../sass/_turntable.scss */
.turntable.playing .semi.mask {
  visibility: hidden;
}

/* line 10, ../sass/_track.scss */
body > #tracks .track {
  width: 87.5%;
  padding: 3.125% 0;
  margin: 3.125% 0 0 0;
  box-sizing: border-box;
  float: left;
}
/* line 17, ../sass/_track.scss */
body > #tracks .track:nth-of-type(1) {
  margin-left: 0;
}
@media screen and (max-width: 54em) {
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+2) .turntable, body > #tracks .track:nth-of-type(n+2) .palette {
    display: none;
  }
}
@media screen and (min-width: 54em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 43.75%;
    margin: 3.125% 0 0 3.125%;
  }
  /* line 32, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(3n) {
    margin-left: 0;
  }
}
@media screen and (min-width: 54em) and (max-width: 84em) {
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+3) .turntable, body > #tracks .track:nth-of-type(n+3) .palette {
    display: none;
  }
}
@media screen and (min-width: 84em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 29.16667%;
  }
  /* line 47, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(3n) {
    margin: 3.125% 0 0 3.125%;
  }
  /* line 51, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(4n) {
    margin-left: 0;
  }
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+4) .turntable, body > #tracks .track:nth-of-type(n+4) .palette {
    display: none;
  }
}
/* line 61, ../sass/_track.scss */
body > #tracks .track header {
  margin-bottom: 1em;
}
/* line 62, ../sass/_track.scss */
body > #tracks .track header h1 {
  font-size: 4em;
  font-family: "DINNextW01-CondensedLig";
  color: #cccccc;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -.03125em;
}
/* line 73, ../sass/_track.scss */
body > #tracks .track header author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1em;
}
/* line 83, ../sass/_track.scss */
body > #tracks ul.controls li.palette {
  position: relative;
  width: 100%;
  padding-bottom: 2em;
}
/* line 88, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move {
  background: none;
  border: none;
  color: white;
  width: 2em;
  height: .5em;
  display: block;
  margin: .5em;
  border-top: 2pt solid #cccccc;
  border-bottom: 2pt solid #cccccc;
  padding: 0;
}
/* line 100, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move:active, body > #tracks ul.controls li.palette .move:hover {
  background: none;
}
/* line 105, ../sass/_track.scss */
body > #tracks ul.controls li.palette .value {
  font-size: 2em;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
}
/* line 113, ../sass/_track.scss */
body > #tracks ul.controls li.palette label {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  display: block;
  padding-top: 1em;
}
/* line 119, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider {
  -webkit-appearance: none;
  border: 1pt solid #cccccc;
  background: none;
  height: 0;
  width: 100%;
  margin: 2em 0;
}
/* line 127, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover {
  border: 1pt solid white;
  background: rgba(255, 0, 0, 0.25);
}
/* line 131, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover::-webkit-slider-thumb {
  opacity: 1;
}
/* line 136, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 4em;
  width: 2em;
  cursor: pointer;
  opacity: .75;
}
/* line 144, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
/* line 149, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider.vertical {
  -webkit-transform: rotate(-90deg);
}
