/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/lib/_type.scss */
body {
  color: rgba(255, 255, 255, 0.75);
  font-family: helvetica;
  font-weight: bold;
  font-size: 10pt;
}

/* line 7, ../sass/_main.scss */
body {
  background: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 3.125%;
}

/* line 15, ../sass/_main.scss */
input[type=button], input[type=submit] {
  background: none;
  cursor: pointer;
  padding: .5em;
  border: 1pt solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
/* line 17, ../sass/lib/_mixins.scss */
input[type=button]:hover, input[type=submit]:hover {
  background: white;
  border-color: white;
  color: #333;
}

/* line 20, ../sass/_main.scss */
header section#add-device {
  display: none;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
}
/* line 28, ../sass/_main.scss */
header section#add-device.open {
  display: block;
}

/* line 3, ../sass/_header.scss */
body > header #loginmsg {
  line-height: 1.5em;
  float: right;
}
/* line 10, ../sass/_header.scss */
body > header .picker .set {
  width: 21.875%;
  padding-left: 3.125%;
  display: inline-block;
  vertical-align: top;
}
/* line 16, ../sass/_header.scss */
body > header .picker .set:nth-child(1) {
  padding-left: 0;
}
/* line 22, ../sass/_header.scss */
body > header .picker .set ul.tracks li.track {
  width: 100%;
  text-align: left;
  margin-left: -.5em;
  margin-bottom: .5em;
  background: none;
  cursor: pointer;
  padding: .5em;
  border: 1pt solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
/* line 17, ../sass/lib/_mixins.scss */
body > header .picker .set ul.tracks li.track:hover {
  background: white;
  border-color: white;
  color: #333;
}
/* line 29, ../sass/_header.scss */
body > header .picker .set ul.tracks li.track h1 {
  font-size: 2em;
}
/* line 33, ../sass/_header.scss */
body > header .picker .set ul.tracks li.track author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
}

/* line 1, ../sass/_guest.scss */
.guest {
  font-size: 2em;
}
/* line 4, ../sass/_guest.scss */
.guest #controls {
  display: none;
}
/* line 8, ../sass/_guest.scss */
.guest header {
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
}
/* line 14, ../sass/_guest.scss */
.guest header #settings, .guest header #add-device, .guest header .picker {
  display: none;
}

@-webkit-keyframes play-spin {
  /* line 2, ../sass/_turntable.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_turntable.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 39, ../sass/_turntable.scss */
.turntable {
  height: 24em;
  width: 24em;
  border-radius: 20em;
  position: relative;
  left: 50%;
  margin-left: -12em;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-transition: box-shadow 0.5s 0s;
  -webkit-transition-delay: ease-in;
  -moz-transition: box-shadow 0.5s 0s ease-in;
  -o-transition: box-shadow 0.5s 0s ease-in;
  transition: box-shadow 0.5s 0s ease-in;
}
/* line 52, ../sass/_turntable.scss */
.turntable img.art {
  height: 75%;
  width: 75%;
  border-radius: 100em;
  border: rgba(255, 255, 255, 0.75) solid 1px;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
}
/* line 62, ../sass/_turntable.scss */
.turntable .scrubber {
  background: #333333;
  height: 100%;
  width: 100%;
  border-radius: 100em;
  border: rgba(255, 255, 255, 0.75) solid 1px;
  position: absolute;
}
/* line 70, ../sass/_turntable.scss */
.turntable .scrubber .semi {
  position: absolute;
  border-radius: 100em 0 0 100em;
  height: 100%;
  width: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
/* line 78, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator {
  background: white;
}
/* line 81, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator#indicator1 {
  -webkit-transition: all 10s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: all 10s 0s linear;
  -o-transition: all 10s 0s linear;
  transition: all 10s 0s linear;
}
/* line 85, ../sass/_turntable.scss */
.turntable .scrubber .semi.indicator#indicator2 {
  -webkit-transition: all 20s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: all 20s 0s linear;
  -o-transition: all 20s 0s linear;
  transition: all 20s 0s linear;
}
/* line 90, ../sass/_turntable.scss */
.turntable .scrubber .semi.mask {
  background: #333333;
  -webkit-transition: visibility 10s 0s;
  -webkit-transition-delay: linear;
  -moz-transition: visibility 10s 0s linear;
  -o-transition: visibility 10s 0s linear;
  transition: visibility 10s 0s linear;
  visibility: visible;
}
/* line 102, ../sass/_turntable.scss */
.turntable.playing img.art {
  -webkit-animation: play-spin 4s infinite linear;
}
/* line 109, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 114, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator2 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 120, ../sass/_turntable.scss */
.turntable.playing .semi.mask {
  visibility: hidden;
}

/* line 10, ../sass/_track.scss */
body > #tracks .track {
  width: 87.5%;
  padding: 3.125% 0;
  margin: 3.125% 0 0 0;
  box-sizing: border-box;
  float: left;
}
/* line 17, ../sass/_track.scss */
body > #tracks .track:nth-of-type(1) {
  margin-left: 0;
}
@media screen and (max-width: 54em) {
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+2) .turntable, body > #tracks .track:nth-of-type(n+2) .palette {
    display: none;
  }
}
@media screen and (min-width: 54em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 43.75%;
    margin: 3.125% 0 0 3.125%;
  }
  /* line 32, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(3n) {
    margin-left: 0;
  }
}
@media screen and (min-width: 54em) and (max-width: 84em) {
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+3) .turntable, body > #tracks .track:nth-of-type(n+3) .palette {
    display: none;
  }
}
@media screen and (min-width: 84em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 29.16667%;
  }
  /* line 47, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(3n) {
    margin: 3.125% 0 0 3.125%;
  }
  /* line 51, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(4n) {
    margin-left: 0;
  }
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+4) .turntable, body > #tracks .track:nth-of-type(n+4) .palette {
    display: none;
  }
}
/* line 61, ../sass/_track.scss */
body > #tracks .track header {
  margin-bottom: 1em;
}
/* line 62, ../sass/_track.scss */
body > #tracks .track header h1 {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 71, ../sass/_track.scss */
body > #tracks .track header author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1em;
}
/* line 81, ../sass/_track.scss */
body > #tracks ul.controls li.palette {
  position: relative;
  width: 100%;
  padding-bottom: 2em;
}
/* line 86, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move {
  background: none;
  border: none;
  color: white;
  width: 2em;
  height: .5em;
  display: block;
  margin: .5em;
  border-top: 2pt solid rgba(255, 255, 255, 0.75);
  border-bottom: 2pt solid rgba(255, 255, 255, 0.75);
  padding: 0;
}
/* line 98, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move:active, body > #tracks ul.controls li.palette .move:hover {
  background: none;
}
/* line 103, ../sass/_track.scss */
body > #tracks ul.controls li.palette .value {
  font-size: 2em;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
}
/* line 111, ../sass/_track.scss */
body > #tracks ul.controls li.palette label {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  display: block;
  padding-top: 1em;
}
/* line 117, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider {
  -webkit-appearance: none;
  border: 1pt solid rgba(255, 255, 255, 0.75);
  background: none;
  height: 0;
  width: 100%;
  margin: 2em 0;
}
/* line 125, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover {
  border: 1pt solid white;
  background: rgba(255, 0, 0, 0.25);
}
/* line 129, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover::-webkit-slider-thumb {
  opacity: 1;
}
/* line 134, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 4em;
  width: 2em;
  cursor: pointer;
  opacity: .75;
}
/* line 142, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
/* line 147, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider.vertical {
  -webkit-transform: rotate(-90deg);
}
