/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 39, ../sass/lib/_type.scss */
body {
  color: #cccccc;
  font-family: "DIN Next W01 Regular", helvetica, sans-serif;
  font-size: 10pt;
  text-rendering: optimizeLegibility;
}

/* line 52, ../sass/lib/_type.scss */
abbr {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
}

/* line 7, ../sass/_main.scss */
body {
  background: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin: 3.125%;
}

/* line 15, ../sass/_main.scss */
ul {
  list-style: none;
}

/* line 19, ../sass/_main.scss */
input {
  border-radius: 0;
  position: relative;
  z-index: 100;
  -webkit-appearance: none;
}
/* line 25, ../sass/_main.scss */
input[type=button], input[type=submit] {
  background: none;
  cursor: pointer;
  padding: 0.5em;
  border: 1pt solid #cccccc;
  color: #cccccc;
  font-family: "DIN Next W01 Light", helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  left: -0.5em;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 85, ../sass/lib/_mixins.scss */
input[type=button]:active, input[type=button].touch, input[type=submit]:active, input[type=submit].touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 23, ../sass/lib/_mixins.scss */
input[type=button]:hover, input[type=button]:active, input[type=submit]:hover, input[type=submit]:active {
  background: white;
  color: #333;
  box-shadow: 0 0 0.75em 0.125em rgba(255, 255, 255, 0.75);
}
/* line 29, ../sass/_main.scss */
input.text {
  outline: 0;
  background: none;
  color: #cccccc;
  border: none;
  border-bottom: #cccccc 1pt solid;
  font-size: 1em;
  font-style: italic;
  font-family: "DIN Next W01 Regular", helvetica, sans-serif;
  position: relative;
  left: -.5em;
  text-indent: .4em;
}
/* line 43, ../sass/_main.scss */
input.text:focus, input.text:hover, input.text:active {
  border-color: white;
  color: white;
}
/* line 48, ../sass/_main.scss */
input.text:focus {
  text-shadow: 0 0 0.5em white;
}

/* line 55, ../sass/_main.scss */
header section#add-device {
  display: none;
  position: fixed;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
}
/* line 63, ../sass/_main.scss */
header section#add-device.open {
  display: block;
}

/* line 70, ../sass/_main.scss */
body ::-webkit-scrollbar {
  position: relative;
  width: .5em;
}
/* line 74, ../sass/_main.scss */
body ::-webkit-scrollbar:hover {
  width: 3.125%;
}

/* line 100, ../sass/_main.scss */
.global-controls-palette .move {
  background: none;
  border: none;
  color: white;
  width: 2em;
  height: .5em;
  display: block;
  margin: .5em;
  border-top: 2pt solid #cccccc;
  border-bottom: 2pt solid #cccccc;
  padding: 0;
}
/* line 112, ../sass/_main.scss */
.global-controls-palette .move:active, .global-controls-palette .move:hover {
  background: none;
}
/* line 117, ../sass/_main.scss */
.global-controls-palette .value {
  font-size: 1em;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
  top: -1.25em;
}
/* line 128, ../sass/_main.scss */
.global-controls-palette label {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  display: block;
  padding-top: 1em;
}
/* line 134, ../sass/_main.scss */
.global-controls-palette .slider {
  -webkit-appearance: none;
  border: 1pt solid #cccccc;
  background: none;
  height: 0;
  width: 100%;
  margin: 2em 0;
}
/* line 142, ../sass/_main.scss */
.global-controls-palette .slider:hover {
  border: 1pt solid white;
  background: rgba(255, 0, 0, 0.25);
}
/* line 146, ../sass/_main.scss */
.global-controls-palette .slider:hover::-webkit-slider-thumb {
  opacity: 1;
}
/* line 151, ../sass/_main.scss */
.global-controls-palette .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 4em;
  width: 2em;
  cursor: pointer;
  opacity: .75;
}
/* line 159, ../sass/_main.scss */
.global-controls-palette .slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
/* line 164, ../sass/_main.scss */
.global-controls-palette .slider.vertical {
  -webkit-transform: rotate(-90deg);
}

/* line 17, ../sass/_picker.scss */
.logged-in section.picker {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0 3.125%;
  visibility: hidden;
  position: fixed;
  -webkit-transform: translateY(-30em) perspective(80em) rotateX(-90deg) translateY(4em);
  -moz-transform: translateY(-30em) perspective(80em) rotateX(-90deg) translateY(4em);
  -ms-transform: translateY(-30em) perspective(80em) rotateX(-90deg) translateY(4em);
  -o-transform: translateY(-30em) perspective(80em) rotateX(-90deg) translateY(4em);
  transform: translateY(-30em) perspective(80em) rotateX(-90deg) translateY(4em);
  opacity: 0;
  z-index: 200;
  max-height: 100%;
  top: 0;
  -webkit-transition-property: top, opacity, background, visibility, -webkit-transform;
  -moz-transition-property: top, opacity, background, visibility, -moz-transform;
  -o-transition-property: top, opacity, background, visibility, -o-transform;
  transition-property: top, opacity, background, visibility, transform;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 36, ../sass/_picker.scss */
.logged-in section.picker.open {
  visibility: visible;
  -webkit-transform: translateY(-4em) perspective(36em) rotateX(0deg) translateY(4em);
  -moz-transform: translateY(-4em) perspective(36em) rotateX(0deg) translateY(4em);
  -ms-transform: translateY(-4em) perspective(36em) rotateX(0deg) translateY(4em);
  -o-transform: translateY(-4em) perspective(36em) rotateX(0deg) translateY(4em);
  transform: translateY(-4em) perspective(36em) rotateX(0deg) translateY(4em);
  opacity: 1;
}
/* line 42, ../sass/_picker.scss */
.logged-in section.picker .set {
  width: 21.875%;
  display: inline-block;
  vertical-align: top;
  max-height: 100%;
  overflow: auto;
  padding: 8em 0 0em 3.125%;
  position: relative;
  left: -3.125%;
}
@media screen and (min-width: 40em) {
  /* line 42, ../sass/_picker.scss */
  .logged-in section.picker .set {
    width: 43.75%;
  }
}
@media screen and (min-width: 60em) {
  /* line 42, ../sass/_picker.scss */
  .logged-in section.picker .set {
    width: 21.875%;
  }
}
@media screen and (max-width: 40em) {
  /* line 42, ../sass/_picker.scss */
  .logged-in section.picker .set {
    width: 87.5%;
  }
  /* line 65, ../sass/_picker.scss */
  .logged-in section.picker .set li.track:last-child {
    margin-bottom: 0 !important;
  }
}
/* line 70, ../sass/_picker.scss */
.logged-in section.picker .set h1 {
  font-size: 2em;
}
/* line 74, ../sass/_picker.scss */
.logged-in section.picker .set > h1 {
  margin-bottom: 0.75em;
  font-family: "DIN Next W01 Medium", helvetica, sans-serif;
  background-image: url("../images/play-icon.png");
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  padding-left: 2rem;
  margin-left: -2rem;
  cursor: pointer;
  color: white;
  opacity: .75;
}
@media screen and (max-width: 64em) {
  /* line 74, ../sass/_picker.scss */
  .logged-in section.picker .set > h1 {
    background-image: none !important;
  }
}
/* line 84, ../sass/_picker.scss */
.logged-in section.picker .set > h1:hover {
  opacity: 1;
  text-shadow: 0 0 0.5em white;
}
/* line 100, ../sass/_picker.scss */
.logged-in section.picker .set ul.tracks li.track {
  width: 100%;
  text-align: left;
  padding-top: .5rem;
  margin-bottom: 1.875em;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  padding-left: .5em;
  margin-left: -.5em;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  background-image: url("../images/play-icon.png");
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  padding-left: 2rem;
  margin-left: -2rem;
  cursor: pointer;
  color: white;
  opacity: .75;
  background-image: none;
}
/* line 85, ../sass/lib/_mixins.scss */
.logged-in section.picker .set ul.tracks li.track:active, .logged-in section.picker .set ul.tracks li.track.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 40, ../sass/lib/_mixins.scss */
.logged-in section.picker .set ul.tracks li.track:hover, .logged-in section.picker .set ul.tracks li.track:active {
  color: white;
  border-color: white;
  text-shadow: 0 0 0.5em white;
}
/* line 110, ../sass/_picker.scss */
.logged-in section.picker .set ul.tracks li.track h1 {
  font-size: 2em;
  font-family: "DIN Next W01 Light", helvetica, sans-serif;
  margin-top: .5rem;
}
/* line 116, ../sass/_picker.scss */
.logged-in section.picker .set ul.tracks li.track:hover {
  opacity: 1;
  background-image: url("../images/play-icon.png");
  background-position: 0 1.7rem;
}
@media screen and (max-width: 64em) {
  /* line 116, ../sass/_picker.scss */
  .logged-in section.picker .set ul.tracks li.track:hover {
    background-image: none !important;
  }
}
/* line 126, ../sass/_picker.scss */
.logged-in section.picker .set ul.tracks li.track author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1em;
  font-family: "DIN Next W01 Medium", helvetica, sans-serif;
  display: block;
}
@media screen and (min-width: 40em) {
  /* line 133, ../sass/_picker.scss */
  .logged-in section.picker .set ul.tracks li.track:last-child {
    margin-bottom: 16em;
  }
}

/* line 3, ../sass/_header.scss */
body > header {
  position: relative;
  z-index: 300;
}
/* line 7, ../sass/_header.scss */
body > header h1 {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 2em;
  font-family: "DIN Next W01 Bold", helvetica, sans-serif;
  display: none;
  margin-bottom: 2rem;
}
/* line 16, ../sass/_header.scss */
body > header section.menu input {
  margin-left: 1em;
}
/* line 19, ../sass/_header.scss */
body > header section.menu input:nth-of-type(1) {
  margin-left: .5em;
}
/* line 24, ../sass/_header.scss */
body > header section.menu .picker {
  background-image: url("../images/menu-icon.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: .5;
  padding-left: .5em;
}
/* line 85, ../sass/lib/_mixins.scss */
body > header section.menu .picker:active, body > header section.menu .picker.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 57, ../sass/lib/_mixins.scss */
body > header section.menu .picker:hover, body > header section.menu .picker:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 29, ../sass/_header.scss */
body > header section.menu .picker.on {
  opacity: 1;
}
/* line 34, ../sass/_header.scss */
body > header section.menu .audio-toggle {
  background-image: url("../images/audio-off.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: .5;
  float: right;
}
/* line 85, ../sass/lib/_mixins.scss */
body > header section.menu .audio-toggle:active, body > header section.menu .audio-toggle.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 57, ../sass/lib/_mixins.scss */
body > header section.menu .audio-toggle:hover, body > header section.menu .audio-toggle:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 39, ../sass/_header.scss */
body > header section.menu .audio-toggle.on {
  background-image: url("../images/audio-on.png") !important;
  opacity: 1;
}
/* line 45, ../sass/_header.scss */
body > header section.menu .autoplay {
  background-image: url("../images/play-icon.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: .5;
  float: right;
}
/* line 85, ../sass/lib/_mixins.scss */
body > header section.menu .autoplay:active, body > header section.menu .autoplay.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 57, ../sass/lib/_mixins.scss */
body > header section.menu .autoplay:hover, body > header section.menu .autoplay:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 50, ../sass/_header.scss */
body > header section.menu .autoplay.on {
  opacity: 1;
}
/* line 55, ../sass/_header.scss */
body > header section.menu .loop {
  background-image: url("../images/loop-icon.png") !important;
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: .5;
  float: right;
}
/* line 85, ../sass/lib/_mixins.scss */
body > header section.menu .loop:active, body > header section.menu .loop.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 57, ../sass/lib/_mixins.scss */
body > header section.menu .loop:hover, body > header section.menu .loop:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
/* line 60, ../sass/_header.scss */
body > header section.menu .loop.on {
  opacity: 1;
}
/* line 66, ../sass/_header.scss */
body > header section#settings {
  display: none;
}
/* line 69, ../sass/_header.scss */
body > header section#settings.open {
  display: block;
}
/* line 74, ../sass/_header.scss */
body > header #username {
  line-height: 1.5em;
  position: relative;
  top: -1em;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  font-family: "DIN Next W01 Medium", helvetica, sans-serif;
}

/* line 1, ../sass/_guest.scss */
body.guest {
  font-size: 1.5em;
  margin-top: 25%;
}
@media screen and (min-width: 60em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 2em;
  }
}
@media screen and (max-width: 48em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 2em;
    margin-left: 6.25%;
  }
}
@media screen and (max-width: 32em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 24em) {
  /* line 1, ../sass/_guest.scss */
  body.guest {
    font-size: 1em;
  }
}
@media screen and (min-width: 48em) {
  /* line 22, ../sass/_guest.scss */
  body.guest > header {
    float: left;
    text-align: right;
    width: 43.75%;
  }
}
/* line 29, ../sass/_guest.scss */
body.guest > header h1 {
  display: block;
}
/* line 34, ../sass/_guest.scss */
body.guest #controls, body.guest .menu, body.guest .tracks {
  display: none;
}
/* line 38, ../sass/_guest.scss */
body.guest form {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 48em) {
  /* line 38, ../sass/_guest.scss */
  body.guest form {
    float: right;
    width: 43.75%;
    right: 9.375%;
  }
}
/* line 48, ../sass/_guest.scss */
body.guest form fieldset {
  margin-bottom: 4em;
}
/* line 51, ../sass/_guest.scss */
body.guest form fieldset input {
  display: block;
  margin-bottom: 1em;
}
/* line 56, ../sass/_guest.scss */
body.guest form fieldset aside {
  margin-bottom: 2em;
  font-size: .75rem;
  line-height: 1rem;
  font-style: italic;
  font-family: "DIN Next W01 Light", helvetica, sans-serif;
}
@media screen and (min-width: 48em) {
  /* line 56, ../sass/_guest.scss */
  body.guest form fieldset aside {
    width: 87.5%;
    position: absolute;
    right: 109.375%;
    text-align: right;
  }
}

@-webkit-keyframes play-spin {
  /* line 2, ../sass/_turntable.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_turntable.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 39, ../sass/_turntable.scss */
.turntable {
  height: 24em;
  width: 24em;
  border-radius: 20em;
  position: relative;
  left: 50%;
  margin-left: -12em;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-transition: box-shadow 0.5s 0s;
  -webkit-transition-delay: ease-in;
  -moz-transition: box-shadow 0.5s 0s ease-in;
  -o-transition: box-shadow 0.5s 0s ease-in;
  transition: box-shadow 0.5s 0s ease-in;
}
@media screen and (max-width: 48em) {
  /* line 39, ../sass/_turntable.scss */
  .turntable {
    height: 18em;
    width: 18em;
    margin-left: -9em;
  }
}
/* line 59, ../sass/_turntable.scss */
.turntable img.art {
  height: 75%;
  width: 75%;
  border-radius: 100em;
  border: #cccccc solid 1px;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
}
/* line 69, ../sass/_turntable.scss */
.turntable .scrubber {
  background: black;
  height: 100%;
  width: 100%;
  border-radius: 100em;
  border: #cccccc solid 1px;
  position: absolute;
}
/* line 77, ../sass/_turntable.scss */
.turntable .scrubber canvas {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 117, ../sass/_turntable.scss */
.turntable.playing img.art {
  -webkit-animation: play-spin 4s infinite linear;
}
/* line 124, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator1 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 129, ../sass/_turntable.scss */
.turntable.playing .semi.indicator#indicator2 {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 135, ../sass/_turntable.scss */
.turntable.playing .semi.mask {
  visibility: hidden;
}

/* line 10, ../sass/_track.scss */
body > #tracks .track {
  width: 100%;
  box-sizing: border-box;
  float: left;
  position: relative;
  margin-top: 1rem;
}
/* line 18, ../sass/_track.scss */
body > #tracks .track:nth-of-type(1) {
  margin-left: 0;
}
@media screen and (min-width: 54em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 47.91667%;
    margin-right: 3.125%;
  }
  /* line 26, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 54em) and (max-width: 84em) {
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+3) .turntable, body > #tracks .track:nth-of-type(n+3) .palette {
    display: none;
  }
}
@media screen and (min-width: 84em) {
  /* line 10, ../sass/_track.scss */
  body > #tracks .track {
    width: 29.16667%;
  }
  /* line 41, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(3n) {
    margin: 3.125% 0 0 3.125%;
  }
  /* line 45, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(4n) {
    margin-left: 0;
  }
  /* line 4, ../sass/_track.scss */
  body > #tracks .track:nth-of-type(n+4) .turntable, body > #tracks .track:nth-of-type(n+4) .palette {
    display: none;
  }
}
/* line 55, ../sass/_track.scss */
body > #tracks .track.single {
  width: 100%;
}
/* line 57, ../sass/_track.scss */
body > #tracks .track.single .turntable {
  height: 32em;
  width: 32em;
  margin-left: -16em;
}
@media screen and (max-width: 40em) {
  /* line 57, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    height: 24em;
    width: 24em;
    margin-left: -12em;
  }
}
@media screen and (max-width: 28em) {
  /* line 57, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    height: 18em;
    width: 18em;
    margin-left: -9em;
  }
}
@media screen and (min-width: 48em) {
  /* line 81, ../sass/_track.scss */
  body > #tracks .track.single ul.controls {
    width: 47.91667%;
    float: right;
    padding-top: 4em;
  }
  /* line 99, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    left: 25%;
    float: left;
    position: relative;
    height: 28em;
    width: 28em;
    margin-left: -14em;
  }
}
@media screen and (min-width: 48em) and (min-width: 60em) {
  /* line 81, ../sass/_track.scss */
  body > #tracks .track.single ul.controls {
    padding-top: 6em;
  }
}
@media screen and (min-width: 48em) and (min-width: 84em) {
  /* line 81, ../sass/_track.scss */
  body > #tracks .track.single ul.controls {
    padding-top: 8em;
  }
}
@media screen and (min-width: 48em) and (min-width: 96em) {
  /* line 81, ../sass/_track.scss */
  body > #tracks .track.single ul.controls {
    padding-top: 10em;
  }
}
@media screen and (min-width: 48em) and (min-width: 60em) {
  /* line 99, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    height: 32em;
    width: 32em;
    margin-left: -16em;
  }
}
@media screen and (min-width: 48em) and (min-width: 84em) {
  /* line 99, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    height: 36em;
    width: 36em;
    margin-left: -18em;
  }
}
@media screen and (min-width: 48em) and (min-width: 96em) {
  /* line 99, ../sass/_track.scss */
  body > #tracks .track.single .turntable {
    height: 40em;
    width: 40em;
    margin-left: -20em;
  }
}
/* line 133, ../sass/_track.scss */
body > #tracks .track header {
  margin-bottom: 1em;
}
/* line 134, ../sass/_track.scss */
body > #tracks .track header h1 {
  font-size: 2em;
  font-family: "DIN Next W01 Light", helvetica, sans-serif;
  color: #cccccc;
  line-height: 1.5em;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -.03125em;
  position: relative;
}
/* line 146, ../sass/_track.scss */
body > #tracks .track header author {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 1em;
}
/* line 150, ../sass/_track.scss */
body > #tracks .track header .removeBut {
  text-indent: -9999em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.5em;
  border: none;
  -webkit-transition-property: color, box-shadow, text-shadow, background-color;
  -moz-transition-property: color, box-shadow, text-shadow, background-color;
  -o-transition-property: color, box-shadow, text-shadow, background-color;
  transition-property: color, box-shadow, text-shadow, background-color;
  -webkit-transition-duration: 0.125s;
  -moz-transition-duration: 0.125s;
  -o-transition-duration: 0.125s;
  transition-duration: 0.125s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: .5;
  background-image: url("../images/close-icon.png") !important;
  background-size: 90% 100% !important;
  position: absolute;
  left: -2.5rem;
  top: 1rem;
  float: left;
  display: block;
}
/* line 85, ../sass/lib/_mixins.scss */
body > #tracks .track header .removeBut:active, body > #tracks .track header .removeBut.touch {
  -webkit-transform: scale(0.975);
  -moz-transform: scale(0.975);
  -ms-transform: scale(0.975);
  -o-transform: scale(0.975);
  transform: scale(0.975);
}
/* line 57, ../sass/lib/_mixins.scss */
body > #tracks .track header .removeBut:hover, body > #tracks .track header .removeBut:active {
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}
@media screen and (max-width: 64em) {
  /* line 150, ../sass/_track.scss */
  body > #tracks .track header .removeBut {
    left: -.25rem;
    top: 0;
    float: none;
    position: relative;
    margin-bottom: 1rem;
  }
}
/* line 172, ../sass/_track.scss */
body > #tracks .track .waveform {
  width: 100%;
  height: 50%;
  background: #cccccc;
  margin-bottom: 1rem;
  position: absolute;
}
/* line 183, ../sass/_track.scss */
body > #tracks ul.controls li.palette {
  position: relative;
  width: 100%;
  padding-bottom: 2em;
}
/* line 189, ../sass/_track.scss */
body > #tracks ul.controls li.palette.playback input, body > #tracks ul.controls li.palette.playback input:hover, body > #tracks ul.controls li.palette.playback input:active {
  border: none;
}
/* line 194, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move {
  background: none;
  border: none;
  color: white;
  width: 2em;
  height: .5em;
  display: block;
  margin: .5em;
  border-top: 2pt solid #cccccc;
  border-bottom: 2pt solid #cccccc;
  padding: 0;
}
/* line 206, ../sass/_track.scss */
body > #tracks ul.controls li.palette .move:active, body > #tracks ul.controls li.palette .move:hover {
  background: none;
}
/* line 211, ../sass/_track.scss */
body > #tracks ul.controls li.palette .value {
  font-size: 1em;
  display: block;
  margin: 0.5em 0;
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
  top: -1.25em;
}
/* line 222, ../sass/_track.scss */
body > #tracks ul.controls li.palette label {
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 0.75em;
  display: block;
  padding-top: 1em;
}
/* line 228, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider {
  -webkit-appearance: none;
  border: 1pt solid #cccccc;
  background: none;
  height: 0;
  width: 100%;
  margin: 2em 0;
}
/* line 236, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover {
  border: 1pt solid white;
  background: rgba(255, 0, 0, 0.25);
}
/* line 240, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider:hover::-webkit-slider-thumb {
  opacity: 1;
}
/* line 245, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  height: 4em;
  width: 2em;
  cursor: pointer;
  opacity: .75;
}
/* line 253, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider::-webkit-slider-thumb:hover {
  opacity: 1;
}
/* line 258, ../sass/_track.scss */
body > #tracks ul.controls li.palette .slider.vertical {
  -webkit-transform: rotate(-90deg);
}
