body {
  background-color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 10%;
}

#title {
  color: #000000;
  margin: 10%;
  padding: 0 20%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
}


h1 {
	font-size: 40px;
	color: #666;
}

#content {
	background-color: #000;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0 10%;
	padding: 0 10%;
	color: #13F99A;
	text-align: center;
}

.field {
	display: block;
	margin-bottom: 10px;
	padding: 0 20%;
}

input {
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}


a {
	display: block;
	position: relative;
	max-width: 100px;
	margin-top: 20px;
	left: 40%;
	border-radius: 5px;
	border-style: solid;
	border-width:3px;
	border-color:#555;
	text-align: center;
	color: #13F99A;
	text-decoration:none;
}

a:hover {
	background-color: #333;
}

.button {
	display: block;
	position: relative;
	max-width: 100px;
	margin-top: 20px;
	left: 40%;
	border-radius: 5px;
	border-style: solid;
	border-width:3px;
	border-color:#555;
	text-align: center;
	color: #13F99A;
	text-decoration:none;
}

.button:hover {
	background-color: #333;
  cursor: pointer;
}

#qr img{
	width: 60%;
	height: 60%;
}