.guest {
    font-size: 2em;

    #controls, header, .tracks {
        display: none;
    }
    
    form {
        width: 100%;
        text-align: center;
        position: relative;
        top: 40%;
    }
}