.guest {
    header {
        h1 {
            display: block;
        }
    }

    #controls, header, .tracks {
        display: none;
    }
    
    form {
        width: 100%;
        text-align: center;
        position: relative;
        top: 40%;
    }
}