@import "compass/reset";
@import "compass/css3";
@import "./lib/_variables.scss";
@import "./lib/_type.scss";
@import "./lib/_mixins.scss";

body {
    background: #333;
    -webkit-user-select: none;
       -moz-user-select: none;
       
   margin: $gutter;
}


input{
    border-radius: 0;

    &[type=button], &[type=submit]{
        @include button;
    }
    
    &.text {
        outline: 0;
        background: none;
        color: $default;
        border: none;
        border-bottom: $default $border-width solid;
        font-size: 1em;
        font-style: italic;
        
        &:focus, &:hover, &:active {
            background: $inactive;
            border-color: $active;
        }
        
        &:focus {
            @include glow;
        }
    }
}

header {
    section#add-device {
        display: none;
        position: fixed;
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
        
        &.open {
            display: block;
        }
    }
}