@import "compass/reset";
@import "compass/css3";
@import "./lib/_variables.scss";
@import "./lib/_type.scss";
@import "./lib/_mixins.scss";

body {
    background: #333;
    -webkit-user-select: none;
       -moz-user-select: none;
       
   margin: $gutter;
}

input[type=button] {
    @include button;
}

header {
    section#add-device {
        display: none;
        position: fixed;
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
        
        &.open {
            display: block;
        }
    }
}