@import "compass/reset";
@import "compass/css3";
@import "./lib/_variables.scss";
@import "./lib/_type.scss";
@import "./lib/_mixins.scss";
@import "style.css";

body {
    background: #333;
    -webkit-user-select: none;
       -moz-user-select: none;
       
   margin: $gutter;
}

input[type=button] {
    background: none;
    cursor: pointer;
    padding: .5em;
    border: 1pt solid $default;
    color: $default;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    
    &:hover {
        background: $active;
        border-color: $active;
        color: #333;
    }
}

header {
    section#add-device {
        display: none;
        position: fixed;
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
        
        &.open {
            display: block;
        }
    }
}