@import "_turntable.scss";

@mixin collapse {
    display: none;
    .turntable, .palette {
        display: none;
    }
}

body > #tracks {
    .track {
        @include col4;
        box-sizing: border-box;
        float: left;
        position: relative;
        margin-top: 1rem;

    
        &:nth-of-type(1) {
            margin-left: 0;
        }
    
        @media screen and (min-width: 54em) {
            @include col2;
            margin-right: $gutter;
        }
    
        @media screen and (min-width: 54em) and (max-width: 84em) {
            // collapse > 2

            &:nth-of-type(2n) {
                margin-right: 0;
            }
            
            &:nth-of-type(n+3) {
                @include collapse;
            }
        }
    
        @media screen and (min-width: 84em) {
            @include col3;
            
            &:nth-of-type(3n) {
                margin-right: 0;
            }
    
            // collapse > 3
            &:nth-of-type(n+4) {
                @include collapse;
            }
        }
        
        &.single {

            .turntable {
                $d: 32em;
                height: $d;
                width:  $d;
                margin-left: -$d / 2;
                
                @media screen and (max-width: 40em) {
                    $d: 24em;
                    height: $d;
                    width:  $d;
                    margin-left: -$d / 2;
                }
                
                
                @media screen and (max-width: 28em) {
                    $d: 18em;
                    height: $d;
                    width:  $d;
                    margin-left: -$d / 2;
                }
            }
            
            @include col4;
            @media screen and (min-width: 48em) {
                ul.controls {
                    @include col2;
                    float: right;
                    padding-top: 4em;
                    
                    @media screen and (min-width: 60em) {
                        padding-top: 6em;
                    }
                    
                    @media screen and (min-width: 84em) {
                        padding-top: 8em;
                    }
                    
                    @media screen and (min-width: 96em) {
                        padding-top: 10em;
                    }
                }
                
                .turntable {
                    left: 25%;
                    float: left;
                    position: relative;
                    
                    $d: 28em;
                    height: $d;
                    width:  $d;
                    margin-left: -$d/2;
                    
                    @media screen and (min-width: 60em) {
                        $d: 32em;
                        height: $d;
                        width:  $d;
                        margin-left: -$d/2;
                    }

                    @media screen and (min-width: 84em) {
                        $d: 36em;
                        height: $d;
                        width:  $d;
                        margin-left: -$d/2;
                    }

                    @media screen and (min-width: 96em) {
                        $d: 40em;
                        height: $d;
                        width:  $d;
                        margin-left: -$d/2;
                    }
                }
            }
        }
    
        header {
            h1 {
                font-size: 2em;
                font-family: $light;
                color: $default;
                line-height: 1.5em;
                height: 1.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                letter-spacing: -.03125em;
                position: relative;
            }
    
            author {
                @include small-caps(1em);
            }
            
            .removeBut {
                @include icon-button;
                background-image: url('../images/close-icon.png') !important;
                background-size: 90% 100% !important;
                position: absolute;
                left: -2.5rem;
                top: 1rem;
                float: left;
                display: block;
                
                @media screen and (max-width: 64em) {
                    left: -.25rem;
                    top: 0;
                    float: none;
                    position: relative;
                    margin-bottom: 1rem;
                }
            }
    
            margin-bottom: 1em;            
        }
        
        .waveform {
            width: 100%;
            height: 50%;
            background: $default;
            margin-bottom: 1rem;
            position: absolute;
        }
    }
    
    ul.controls {
    
        li.palette {
            position: relative; 
            width: 100%;
            padding-bottom: 2em;
            
            &.playback {
                input, input:hover, input:active {
                    border: none;
                }
            }
    
            .move {
                background: none;
                border: none;
                color: $active;
                width: 2em;
                height: .5em;
                display: block;
                margin: .5em;
                border-top:    2pt solid $default;
                border-bottom: 2pt solid $default;
                padding: 0;
    
                &:active, &:hover {
                    background: none;
                }
            }
    
            .value {
                font-size: 1em;
                display: block;
                margin: .5em 0;
                width: 100%;
                text-align: center;
                position: relative;
                float: left;
                top: -1.25em;;
            }
    
            label {
                @include small-caps(.75em);
                display: block;
                padding-top: 1em;
            }
    
            .slider {
                -webkit-appearance: none;
                border: 1pt solid $default;
                background: none;
                height: 0;
                width: 100%;
                margin: 2em 0;
                    
                &:hover {
                    border: 1pt solid $active;
                    background: rgba(255,0,0,.25);
    
                    &::-webkit-slider-thumb {
                        opacity: 1;
                    }
                }
    
                &::-webkit-slider-thumb {
                    -webkit-appearance:none;
                    background: $active;
                    height: 4em;
                    width: 2em;
                    cursor: pointer;
                    opacity: .75;
    
                    &:hover {
                        opacity: 1;
                    }            
                }
    
                &.vertical {
                    -webkit-transform: rotate(-90deg);
                }
            }
        }
    }
}