@import "_turntable.scss";

@mixin collapse {
    .turntable, .palette {
        display: none;
    }
}

.track {
    width: $col * $columns;
    padding: $gutter;
    margin: $gutter 0 0 0;
    border: 2pt $default solid;
    box-sizing: border-box;
    float: left;
    
    &:nth-of-type(1) {
        margin-left: 0;
    }
    
    @media screen and (max-width: 54em) {
        // collapse all but first
        &:nth-of-type(n+2) {
            @include collapse;
        }
    }
    
    @media screen and (min-width: 54em) {
        width: $col * ($columns / 2);
        margin: $gutter 0 0 $gutter;
        
        &:nth-of-type(3n) {
            margin-left: 0;
        }
    }
    
    @media screen and (min-width: 54em) and (max-width: 84em) {
        // collapse > 2
        &:nth-of-type(n+3) {
            @include collapse;
        }
    }
    
    @media screen and (min-width: 84em) {
        width: $col * ($columns / 3);
        
        &:nth-of-type(3n) {
            margin: $gutter 0 0 $gutter;
        }
        
        &:nth-of-type(4n) {
            margin-left: 0;
        }
        
        // collapse > 3
        &:nth-of-type(n+4) {
            @include collapse;
        }
    }
    
    header {
        h1 {
            font-size: 2em;
            color: $default;
            line-height: 1.5em;
        }
        
        author {
            text-transform: uppercase;
            letter-spacing: .125em;
            font-size: 1em;
        }
        
        margin-bottom: 1em;
    }
}

.palette {
    padding-bottom: 0;   
    position: relative; 
    width: 100%;

    .move {
        background: none;
        border: none;
        color: red;
        width: 2em;
        height: .5em;
        display: block;
        margin: .5em;
        border-top:    2pt solid $default;
        border-bottom: 2pt solid $default;
        padding: 0;

        &:active, &:hover {
            background: none;
        }
    }

    .value {
        font-size: 2em;
        display: block;
        margin: .5em 0;
        width: 100%;
        text-align: center;
    }

    .slider {
        -webkit-appearance: none;
        // background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
        border: 1pt solid $default;
        background: none;
        height: 4em;
        width: 100%;
        overflow: hidden;

        &:hover {
            border: 1pt solid $active;
            background: rgba(255,0,0,.25);
        }

        &::-webkit-slider-thumb {
            -webkit-appearance:none;
            background: red;
            height: 4em;
            width: 2em;
            cursor: pointer;
            opacity: .75;

            &:hover {
                opacity: 1;
            }            
        }

        &.vertical {
            -webkit-transform: rotate(-90deg);
            // -webkit-appearance: slider-vertical;
        }
    }
}
