@-webkit-keyframes play-spin {
    0% { @include rotateZ(0deg)}
    100% { @include rotateZ(360deg)}
}

.turntable {
    $d: 24em;
    height: $d;
    width:  $d;
    border-radius: 20em;
    position: relative;
    left: 50%;
    margin-left: -$d / 2;
    
    img.art {
        height: 75%;
        width: 75%;
        border-radius: 100em;
        border: $default solid 1px;
        top: 12.5%;
        left: 12.5%;
        position: absolute;
    }
    
    .scrubber {
        background: $inactive;
        height: 100%;
        width: 100%;
        border-radius: 100em;
        border: $default solid 1px;
        position: absolute;
        
        .indicator {
            position: absolute;
            border-radius: 0 0 100em 100em;
            height: 50%;
            width: 100%;
            background: red;
            transform: rotate
        }
    }
    
    // spin while playing
    
    &.playing {
    
        img.art {
            @include animation(play-spin, 2s, infinite, linear);
        }
    }
    
    &:hover {
        .scrubber {
            background: $default;
        }
    }
}