@import "compass/reset";
@import "compass/css3";
@import "type.scss";

body {
    background: #333;
    -webkit-user-select: none;
       -moz-user-select: none;
}

.palette {
    padding: 4em;
    padding-bottom: 0;
    
    &:active, &:hover {
        cursor: move;
    }
}

.slider {
    -webkit-appearance: none;
    // background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
    border: 1pt solid white;
    background: none;
    height: 2em;
    width: 25%;
    
    &::-webkit-slider-thumb {
        -webkit-appearance:none;
        background: white;
        height: 2em;
        width: 2em;
    }
    
    &.vertical {
        -webkit-transform: rotate(90deg);
        // -webkit-appearance: slider-vertical;
    }
}