@-webkit-keyframes play-spin {
    0% { @include rotateZ(0deg)}
    50% { @include rotateZ(180deg)}
    100% { @include rotateZ(360deg)}
}

.turntable {
    height: 20em;
    width: 20em;
    border-radius: 20em;
    position: relative;
    
    img.art {
        height: 75%;
        width: 75%;
        border-radius: 100em;
        top: 12.5%;
        left: 12.5%;
        position: absolute;
    }
    
    .scrubber {
        background: $default;
        height: 100%;
        width: 100%;
        border-radius: 100em;
        position: absolute;
    }
    
    // spin while playing
    
    &.playing {
        -webkit-animation: play-spin 2s infinite linear;
    }
}